<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yl.youthlive">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />
    -->
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".bean"
        android:allowBackup="true"
        android:icon="@mipmap/ylive"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".Login" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Signin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LiveScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LiveScreenNew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activitys.MessaageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.FollowingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.RattingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.CreatePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.UserInformation"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.PersonalInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activitys.MyVlog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerActivityNew"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home" />
        <activity android:name=".ChatScreen" />
        <activity android:name=".WalletActivity" />
        <activity android:name=".TimelineProfile" />
        <activity android:name=".FeedBack" />
        <activity android:name=".Content" />
        <activity android:name=".Terms" />
        <activity android:name=".IrisLive" />
        <activity android:name=".IrisPlayer" />
        <activity android:name=".Player2" />

        <receiver
            android:name=".internetConnectivity.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activitys.MycheckinActivity" />
        <activity
            android:name=".VideoBroadcaster"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".VideoPlayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkin.CheckinActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".checkin.CheckInDetailActivity"
            android:parentActivityName=".checkin.CheckinActivity" />
        <activity android:name=".WalletNew" />
        <activity android:name=".BuyDiamonds" />
        <activity android:name=".LiveEndedPlayer" />
        <activity android:name=".LiveEndedBroadcaster" />
        <activity android:name=".Activitys.FanActivity" />
        <activity android:name=".Activitys.FriendActivity" />
        <activity android:name=".Activitys.SearchActivity" />
        <activity android:name=".Activitys.Diamond_purchase_history_Activity" />
        <activity android:name=".ExoTest" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.New_Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.OTP_varify"
            android:screenOrientation="portrait" />
    </application>

</manifest>